
// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/buttons";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

:root {
  --prim-orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --grey-light: hsl(217, 12%, 63%);
  --grey-medium: hsl(216, 12%, 54%);
  --blue-dark: hsl(213, 19%, 18%);
  --blue-darker: hsl(216, 12%, 8%);

  --bg-icon: lighten(hsl(213, 19%, 18%), 5%);

  --fs-base: 15px;

  --fs-1: 1.875rem;
  --fs-2: 1.875rem;
  --fs-3: 1.875rem;
  --fs-4: 1.875rem;
  --fs-5: 1.875rem;
  --fs-6: 1.875rem;

  --p-card: 1rem;
  --p-card-sm: 2rem;
  --p-card-md: 3rem;
  --p-card-lg: 3rem;

  --p-button: calc(var(--py-button) + 2px) var(--px-button) var(--py-button) var(--px-button);
  --px-button: 1rem;
  --py-button: 1rem;
  --border-radius: 1.25rem;

}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body {
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  font-family: 'Overpass', sans-serif;
  font-size: var(--fs-base);
}

p {
  font-size: var(--fs-base);
  color: var(--grey-light);

}

a,p,li,span,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.page__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-darker);
}

@import "assets/styles/_input.scss";
@import "assets/styles/_icons.scss";
@import "assets/styles/_buttons.scss";
@import "assets/styles/_cards.scss";
@import "assets/styles/_form.scss";





