// ICONS
.icon-bg-rounded {
  width: 2.1875rem;
  height: 2.1875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lighten(hsl(213, 19%, 18%), 4%);
  border-radius: 6.25rem;
}
